<div class="circle-menu">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="hamburger__text">MENU</div>
    </div>
</div>