<ul class="nav">
    <li class="nav__item"><a class="
        <%= active=='about' ? 'active' : '' %>"
        href="/">About</a></li>
    <li class="nav__item"><a class="
        <%= active=='resume' ? 'active' : '' %>"
        href="/resume">Resume</a></li>
    <li class="nav__item"><a class="
        <%= active=='portfolio' ? 'active' : '' %>"
        href="/portfolio">Projects</a></li>
    
    <li class="nav__item"><a class="
        <%= active=='contact' ? 'active' : '' %>"
        href="/contact">Contact</a></li>
</ul>