
    <div class="sticky-column">
        <div class="avatar-wrap">
            <svg class="avatar avatar--180" viewBox="0 0 188 188">
                <g class="avatar__box">
                    <image xlink:href="assets/img/me.png" height="100%" width="100%" />
                </g>
            </svg>
        </div>
        <div class="text-center">
            <h3 class="title sidebar__user-name"><span class="weight--500">Meriem</span> Memmiche</h3>
            <div class="badge badge--gray">Full-Stack Developer</div>
                
            <!-- Social -->
            <div class="social">
                <a class="social__link" href="https://www.linkedin.com/in/merimem"><i class="font-icon icon-linkedin2"></i></a>
                <a class="social__link" href="https://www.github.com/merimem"><i class="font-icon icon-github"></i></a>
                <a class="social__link" href="https://meriemmemmiche.medium.com/"><img src="./assets/images/medium.svg" alt="Medium" width="15" height="15"/></a>
            </div>
        </div>

        <ul class="contact-block">
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Website">
                <a href="www.memmicha.com"><img class="font-icon icon-link" src="./assets/images/globe.svg"></img>www.memmicha.com</a>
            </li>
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Birthday">
                <i class="font-icon icon-calendar2"></i>May 16, 1993
            </li>
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Address">
                <i class="font-icon icon-map-pin"></i>Paris, France
            </li>
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="E-mail">
                <a href="mailto:meriemmemmiche@gmail.com"><i class="font-icon icon-mail"></i>meriemmemmiche@gmail.com</a>
            </li>
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Phone">
                <i class="font-icon icon-smartphone"></i>+33 6 64 56 89 30
            </li>
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Skype">
                <a href="skype:meriemmemmiche"><i class="font-icon icon-skype"></i>MeriemMemmiche</a>
            </li>
        </ul>
    
        <a class="btn" href="#" onclick="window.open('CVMeriemMemmicheEN.pdf', '_blank', 'fullscreen=yes'); return false;"><i class="font-icon icon-download"></i> Download CV</a>
    </div>
